<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Framework Express</title>
</head>
<body>
	<h1>Metodo Post</h1>
	<hr>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ea officiis officia libero aliquid harum tempore non esse ullam facilis perferendis odio, cum ipsum voluptates quam obcaecati hic labore quidem.
	</p>
</body>
</html>