<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Framework Express</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">
	<div class="px-4 py-8">
		<h1 class="text-4xl font-bold text-center text-blue-900 mb-4"> <%=title%> </h1>
		<hr class="border-gray-300 my-6">

		<div class="border-2 rounded-lg p-4 mb-4 hover:border-gray-800 hover:text-m transition-all">
			<p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ea officiis officia libero aliquid harum tempore non esse ullam facilis perferendis odio, cum ipsum voluptates quam obcaecati hic labore quidem.
			</p>
		</div>
		<h6>Lista de productos</h6>

		<tabla >
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</tabla>
	
		<div class="border-2 rounded-lg p-4 mb-4 hover:border-gray-800 transition-all">
			<p class="text-green-700">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ea officiis officia libero aliquid harum tempore non esse ullam facilis perferendis odio, cum ipsum voluptates quam obcaecati hic labore quidem.
			</p>
		</div>
	</div>
</body>
</html>